<section class="education" id="education">
  <div class="container education-content">

    <h2>Education</h2>

    <h3>Bachelor of Engineering (Computer Science)</h3>

    <p class="college">
      PSNA College of Engineering and Technology  <span class="cgpa">CGPA: 8.2</span>
    </p>

    <p class="details">
      Dindigul, Tamil Nadu ( 2019 – 2023 )
    </p>

    <p class="desc">
      Completed my undergraduate degree in Computer Science, gaining strong
      foundations in software development, data structures, and backend technologies.
    </p>

  </div>
</section>